body {
    margin: 0;
    border: 0;
    padding: 0;
    /* color: white; */
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 921px;
}

.subcon {
    width: fit-content;
    height: 25rem;
    padding: 3em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.subcon:nth-child() {
    margin: 3em;
}

.sedans {
    --base-color: #e28525;
    background-color: var(--base-color);
    /* background-color: #e28525; */
    border-radius: 5px 0 0 5px;
}

.suvs {
    --base-color: #016972;
    background-color: var(--base-color);
    /* background-color: #016972; */
}

.luxury {
    --base-color: #00403f;
    background-color: var(--base-color);
    /* background-color: #00403f; */
    border-radius: 0 5px 5px 0;
}

button {
    margin-top: 5em;
    width: 75%;
    height: 3.5em;
    background-color: white;
    border-radius: 25px;
    color: var(--base-color);
    border: 0;
}

p, h1 {
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #fff;
    font-size: 1.3em;
}

img {
    width: 40%;
}
/*
Contribution
https://stackoverflow.com/questions/45580218/css-set-color-to-parents-background-color css variabel

*/