body {
    margin: 0;
    border: 0;
    padding: 0;
    /* color: white; */
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 921px;
}

.subcon {
    width: fit-content;
    height: 20rem;
    padding: 1em;
    display: flex;
    flex-direction: column;
}

.sedans {
    background-color: #e28525;
    border-radius: 5px 0 0 5px;
}

.suvs {
    background-color: #016972;
}

.luxury {
    background-color: #00403f;
    border-radius: 0 5px 5px 0;
}

p, h1 {
    margin: 0;
}

p {
    margin-top: 1em;
}

button {
    margin-top: 5em;
    width: 75%;
    height: 3em;
    background-color: white;
    border-radius: 25px;
}

.button1 {
    color: #e28525;
}

.button2 {
    color: #016972;
}

.button3 {
    color: #00403f;
}

img {
    width: 30%;
}